
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; box-sizing: border-box;} /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0;}

a {text-decoration: none; color: inherit;}
img {vertical-align: top;
border: 0;}
input,button,select {box-sizing: border-box; font: inherit;}

/* 추가  */
ul {
	list-style: none;
}

.clearfix::after {
	display: table;
	content: "";
	clear: both;

}
body {
	color: #333333;
}
.wrap {
	width: 1200px;
	margin: 0 auto;
}
/*s: header  */
header {
	width: 100%;
	height: 100px;
	/* background: rebeccapurple; */
	/* header 한테 relative를 줘야 z index 값이 먹힘  */
	position: relative;
	z-index: 10;
}
header h1 {
	/* header 한테 clearfix  */
	float: left;
	width: 200px;
	padding-top: 30px;
}
header nav {
	/* header 한테 clearfix  */
	float: right;
	width: 700px;
	padding-top: 30px;
}
/* .gnb 로만 쓰지 말것 주의  */
header nav ul.gnb {
	width: 100%;
	text-align: center;
	font-size: 18px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	background: #fff;

}
/* > 꺽쇄 꼭 바로 아래 자식만  */
header nav ul.gnb>li {
	width: 25%;
	/* ul gnb 한테 clearfix  */
	float: left;

	/* img slide 가 자동으로 밑으로 떨어지기때문에  */
	/* sub menu list 들이 position:  a b 이 되어야하므로 ; */
	position: relative;

}
/* @ a 에 주면 안됌 ! 주의  */
/* header nav ul.gnb>li>a:hover {} */
header nav ul.gnb>li:hover>a {
	background: rebeccapurple;
	color: #fff;
}
header nav ul.gnb>li>a {
	font-size: 22px;
	display: block;
	height: 100%;
	width: 100%;
	height: 45px;
	line-height: 45px;
}
/* a랑 ul.sub이랑 형제  */
header nav ul.gnb>li>ul.sub {
	width: 100%;
	line-height: 40px;
	/* 안보여야하는 메뉴  */
	display: none;

		/* img slide 가 자동으로 밑으로 떨어지기때문에  */
	/* sub menu list 들이 position:  a b 이 되어야하므로 ; */
	position: absolute;
	top: 45px;
	left: 0;
	background: #fff;
	height: 160px;
	border: 1px solid #ccc;
}
header nav ul.gnb>li>ul.sub>li {
	width: 100%;
	/* height:  는 li 한테만 줘야된대 ; */
	/* @ 왜지 ?  똑같은데 */
	height: 40px;
	/* line-height: 40px; */
}
header nav ul.gnb>li>ul.sub>li:hover >a{
	background: rebeccapurple;
	color: #fff;
}
header nav ul.gnb>li>ul.sub>li >a{
	display: block;
	height: 100%;
	width: 100%;

}


/* e: header  */
.slide {
	width: 100%;
	height: 300px;
	background: red;
	position: relative;
	overflow: hidden;
}
/* @ 굳이 둘다 이렇게 줘야돼 ?  */
.slide .slide_all {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;

}
.slide .slide_all > li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
}
.slide .slide_all > li  img {display: block;}


/* s:  contents  */
.contents {
	width: 100%;
	height: 200px;
	/* background: orange; */
	overflow: hidden;
}
.contents section {
	float: left;
	/* -> content:  에 clearfix 줘야함 ; */
	}
.contents .notice_gal{
	width: 500px;
	height: 200px;
	/* h100%?  */

	/* 공지랑 갤러리 겹치게 기준  */
	position: relative;
}
.contents .notice_gal h3{
	/* 공지랑 갤러리 겹치게 하고 띄우기  */
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 30px;
	line-height: 30px;
	background: #ccc;
	text-align: center;
	/* 잊지않긔  */
	cursor: pointer; 
	/* link 바로가기 h2 랑 크기 맞춰주는게 좋음  */
	font-size: 20px;
}

/* 갤러리 탭메뉴 왼쪽 공간 비우기  */
/* 나였으면 nth chlide2 last child 이요해서 하지  */
.contents .notice_gal h3.l_100 {
	left: 100px;
}

/* 탭메뉴 색깔 한개 포인트 주기  */
/* 일단 js 하기 전에 표시하려고 해주는거  */
.contents .notice_gal h3.on {
	background: red;
	color: #ccc;
   }
   /* html 가서 on 주기  */



.contents .notice_gal ul {
		/* 공지랑 갤러리 겹치게 하고 띄우기  */
	position: absolute;
	/* h3 밑으로 가게 top 30  */
	top: 30px;
	left: 0;
	/* 우선은 안보이게  */
	display: none;
}
/* js  */
.contents .notice_gal ul.on {
	display: block;
}
.contents .notice_gal ul.notice{
	width: 100%;
}
.contents .notice_gal ul.notice li {
	width: 100%;
	height: 28px;
	line-height: 28px;
	/* day 오른쪽 absol 부모  */
	position: relative;
}

.contents .notice_gal ul li a {display: block; height: 100%;}
.contents .notice_gal ul li a:hover {
	color: #ccc;
}
/* .contents .notice_gal .notice li a {} */
.contents .notice_gal .notice li a .day {
	/* 오른쪽으로 배치  */
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 12px;
}
.contents .notice_gal ul.gallery {
	width: 100%;
}

.contents .notice_gal ul.gallery li {
	float: left;
	padding-top: 35px;
	margin: 0 30px;
	/* width: 100px; */
	/* height: 100px; */
}
.contents .notice_gal ul.gallery li a {display: block; height: 100%;}
/* .contents .notice_gal ul.gallery li  a img {width: 100px; height: 100px; object-fit: cover;} */

.contents .banner {
	width: 350px;
	/* @ h 100% ?  */
	height: 200px;
}
.contents .banner  h2 {}
.contents .banner  h2  a {display: block; height: 100%;}
.contents .banner  h2  a img {}
.contents .link {
	width: 350px;
	/* @ h 100% ?  */
	height: 200px;
}
.contents .link h2 {
	background:red;
	color: #ccc;

	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	text-align: center;
}
.contents .link h3 a {display: block; height: 100%;}


.footer {
	width: 100%;
	height: 100px;
	background: yellow;
}


/* youtube 27:42  */